---
layout: default
---

<div class="home">
    <h1>Welcome!</h1>
    Below, you will find posts of recent announcements, as well as notes on the software that will be used at the conference.

    In the links above, you can find up-to-date information about registration and the seminars, as well.
  <h2>Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <h2>Software</h1>

    {% capture my_include %}{% include FrontPage.md %}{% endcapture %}
    {{ my_include | markdownify kramdown }}


</div>
