---
layout: default
---

<div class="home">
    <h1>Welcome!</h1>

  <p>In the links above, you can find up-to-date information about registration, seminars, and software installation.
  Please do check out the <strong><a href="{{base.url}}/Software_Packages.html">software installation</a> as soon as possible</strong>, so you know what's involved!</p>

  <p>Below, you will find posts of recent announcements, as well as notes on the software that will be used at the conference.</p>

  You can find the agenda (schedule) at the link above, or as a downloadable PDF <a href="{{base.url}}/assets/2015_Agenda.pdf" target="_blank">here</a>.

  <h2>Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

{% capture my_include %}{% include sponsorship.md %}{% endcapture %}
  {{ my_include | markdownify kramdown }}

</div>
